@import "../../vars.css";

.container {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    margin: 80px;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 32px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 32px;
    font-family: var(--font-roboto);
    margin-bottom: 56px;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImg {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}


.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px;
}

.arrow1 {
    width: 100px;
    height: 100px;
    transform: rotate(-60deg);
}

.arrow2 {
    width: 100px;
    height: 100px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: 50vw;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: 0.4s;
    perspective: 1000px;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.aboutItem:hover .flip_card_inner {
    transform: rotateY(180deg);
}

.flip_card_front {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip_card_back {
    display: flex;
    justify-content: space-evenly;
    transform: rotateY( 180deg );
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.logo {
    height: 75px;
}

.aboutItem h3 {
    font-size: 32px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 24px;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 32px;
    font-weight: 600;
    padding: 16px 24px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .aboutItems {
        display: flex;
        flex-direction: column;
    }

    .content {
        align-items: center;
        text-align: center;
    }

    .arrow1, .arrow2 {
        display: none;
    }

    .flip_card_inner {
        width: 100%;
    }

    .flip_card_inner h3, .flip_card_inner p {
        font-size: 24px;
    }

    .logo {
        height: 50px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
        text-align: center;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .aboutItems {
        display: flex;
        flex-direction: column;
    }

    .aboutItem {
        height: 100px;
        width: 100vw;
    }

    .arrow1, .arrow2 {
        display: none;
    }

    .flip_card_inner {
        width: 100%;
    }

    .flip_card_inner h3, .flip_card_inner p {
        font-size: 16px;
    }
}