:root {
    /* Colours */
    --color-text : #415248;
    --color-primary: #959dab;
    --color-secondary: #94b9fe;
    --color-dark: #94b9fe;
    --color-bg: #edfafb;

    /* Fonts */
    --font-roboto: "Roboto";
}