:root {
    /* Colours */
    --color-text : #fff;
    --color-primary: #785BD4;
    --color-secondary: #785BD4;
    --color-dark: #0b2447;
    --color-bg: #3E306F;

    /* Fonts */
    --font-roboto: "Roboto";
}